You can save a sequence DataFrame ('df_seq') as a FASTA file using the ``to_fasta()`` function:

In [1]:
import aaanalysis as aa
# Load example dataset
df_seq = aa.load_dataset(name="SEQ_AMYLO", n=10)
aa.display_df(df_seq)

# Save as fasta
file_path = "data/example_FASTA_save.fasta"
aa.to_fasta(df_seq=df_seq, file_path=file_path)

The names of the entry and sequence columns from the DataFrame should match with the ``col_id`` and ``col_seq`` parameters:

In [2]:
# Save DataFrame with specified columns
aa.to_fasta(df_seq=df_seq, file_path=file_path, col_seq="sequence", col_id="entry")

Change the seperator of the FASTA headers using ``sep``:

In [3]:
aa.to_fasta(df_seq=df_seq, file_path=file_path, sep=",")

Specify the database column using the ``col_db`` parameter:

In [4]:
# Add database (Swiss-Prot) to df_seq
df_seq["database"] = "sp"
# Save FASTA with database information in header
aa.to_fasta(df_seq=df_seq, file_path=file_path, col_db="database")

To save additional information in the header, use the ``cols_info`` parameter providing other DataFrame column names:

In [5]:
aa.to_fasta(df_seq=df_seq, file_path=file_path, cols_info=["label"])