Different clustering results can be evaluated and compared using the ``AAclust().eval()`` method. We perform five clusterings with ``n_clusters`` for 5, 10, 25, 50, and 100 utilizing a Python comprehension list:

In [1]:
import aaanalysis as aa
aa.options["verbose"] = False
X = aa.load_scales().T
aac = aa.AAclust()
list_labels = [aac.fit(X, n_clusters=n).labels_ for n in [5, 10, 25, 50, 100]]
df_eval = aac.eval(X, list_labels=list_labels)
aa.display_df(df_eval)

The name of the scale sets can be provided using the ``names_datasets`` parameter, which must match with the number of evaluated cluster sets:

In [2]:
names = [f"Clustering {i}" for i in range(1, 6)]
df_eval = aac.eval(X, list_labels=list_labels, names_datasets=names)
aa.display_df(df_eval)