To demonstrate the ``ShapExplainer().add_sample_mean_dif()`` method, we obtain the DOM_GSEC example dataset and its respective feature set (see [Breimann24c]_):

In [1]:
import aaanalysis as aa
aa.options["verbose"] = False # Disable verbosity

df_seq = aa.load_dataset(name="DOM_GSEC", n=3)
labels = df_seq["label"].to_list()
df_feat = aa.load_features(name="DOM_GSEC").head(5)

# Create feature matrix
sf = aa.SequenceFeature()
df_parts = sf.get_df_parts(df_seq=df_seq)
X = sf.feature_matrix(features=df_feat["feature"], df_parts=df_parts)

aa.display_df(df_seq)

You need to provide ``X``, ``labels``, and ``df_feat`` to the ``ShapExplainer().add_samples_mean_dif()`` method, which will then  compute the feature value difference for each sample against the reference group average:

In [2]:
se = aa.ShapExplainer()

# Compute difference against average for negative (0) group
df_feat = se.add_sample_mean_dif(X, labels=labels, df_feat=df_feat)
aa.display_df(df_feat)

To change the reference group, use the ``label_ref`` parameter (default=0). Since ``df_feat`` already contains mean difference columns, we must set ``drop=True`` to remove them:

In [3]:
# Compute difference against average for positive (1) group
df_feat = se.add_sample_mean_dif(X, labels=labels, label_ref=1, df_feat=df_feat, drop=True)
aa.display_df(df_feat, n_cols=-6)

Select a specific sample based in its position index in label using the ``sample_positions`` parameter. You can provide its name by the ``names`` parameter:

In [4]:
# Single sample
df_feat = se.add_sample_mean_dif(X, labels=labels, df_feat=df_feat, drop=True, sample_positions=0, names="Selected_sample")
aa.display_df(df_feat, n_cols=-1)

Three different scenarios are possible:

a) **Single sample**: Compute the difference for a single sample (above).
b) **Multiple samples**: Compute the difference for multiple samples (all by default).
c) **Group of samples**: Compute the difference using the average of a group of samples.

To target on specific samples, define their indices in ``sample_positions``. Ensure the ``names`` parameter, if used, corresponds in length to ``sample_positions``.

In [5]:
# Multiple samples
df_feat = se.add_sample_mean_dif(X, labels=labels, df_feat=df_feat, drop=True, sample_positions=[0, 1], names=["Sample 1", "Sample 2"])
aa.display_df(df_feat, n_cols=-2)

To compute the group average, set ``group_average=True`` and specify the sample indices in `sample_positions`.Assign a name to the group using the ``names`` parameter; if not provided, 'Group' will be used as the default name:

In [6]:
# Group of samples
df_feat = se.add_sample_mean_dif(X, labels=labels, df_feat=df_feat, drop=True, sample_positions=[0, 1], group_average=True)
aa.display_df(df_feat, n_cols=-1)